.customSelect {
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 0.5em;
    display: flex; 
    box-shadow: 3px 3px 20px 3px rgba(223, 234, 9, 0.912);
    border-radius: 1px;
    min-height: 5vh;
    background-color: rgb(238, 241, 229);
    flex-direction: column;
    flex-wrap: nowrap;
  
  };
  .label{
  color: rgb(255, 252, 252);
  font-size: 15px;
  }